{% load static %}



<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Pombe Sigara</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="Party Essentials delivered at your doorstep! #Variety #Convenience #Extras">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static '/assets/images/icon-pombesigara.png' %}">

    <!-- CSS
	============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static '/assets/css/vendor/bootstrap.min.css' %}">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="{% static '/assets/css/vendor/font.awesome.min.css' %}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="{% static '/assets/css/vendor/ionicons.min.css' %}">
    <!-- Slick CSS -->
    <link rel="stylesheet" href="{% static '/assets/css/plugins/slick.min.css' %}">
    <!-- Animation -->
    <link rel="stylesheet" href="{% static '/assets/css/plugins/animate.min.css' %}">
    <!-- jQuery Ui -->
    <link rel="stylesheet" href="{% static '/assets/css/plugins/jquery-ui.min.css' %}">
    <!-- Nice Select -->
    <link rel="stylesheet" href="{% static '/assets/css/plugins/nice-select.min.css' %}">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="{% static '/assets/css/plugins/magnific-popup.css' %}">

    <!-- Vendor & Plugins CSS (Please remove the comment from below vendor.min.css & plugins.min.css for better website load performance and remove css files from the above) -->

    <!-- <link rel="stylesheet" href="assets/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="assets/css/plugins/plugins.min.css"> -->

    <!-- Main Style CSS (Please use minify version for better website load performance) -->
    <link rel="stylesheet" href="{% static '/assets/css/style.css' %}">
    <!-- <link rel="stylesheet" href="assets/css/style.min.css"> -->

    <script type="text/javascript">
        var user = '{{request.user}}'

        function getToken(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
        }
        const csrftoken = getToken('csrftoken');



        function getCookie(name){
            var cookieArr = document.cookie.split(";");

            for (var i = 0; i < cookieArr.length; i++){
                var cookiePair = cookieArr[i].split("=");


                if (name == cookiePair[0].trim()){
                    return decodeURIComponent(cookiePair[1])
                }
            }
            return null;
        }
        var cart = JSON.parse(getCookie('cart'))
        if(cart == undefined){
            cart = {}
            console.log('Cart created')
            document.cookie = 'cart='+ JSON.stringify(cart) + ";domain=;path=/"
        }
        console.log('Cart:', cart)

    </script>

    

</head>




<body>


    <div class="home-wrapper home-2">
    

        {% if messages %}
            <script>
                {% for message in messages %}
                    alert("{{ message }}");
                {% endfor %}
            </script>
        {% endif %}

        <header class="main-header-area">

            <!-- Main Header Area Start -->
            <div class="main-header">
                <div class="container container-default custom-area">
                    <div class="row">
                        <div class="col-lg-12 col-custom">
                            <div class="row align-items-center">
                                <div class="col-lg-2 col-xl-2 col-sm-6 col-6 col-custom">
                                    <div class="header-logo d-flex align-items-center">
                                        <a href="{% url 'home-shop-view' %}">
                                            <img class="img-full" src="{% static 'assets/images/logo/logo-pombesigara.png' %}" alt="Header Logo">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-xl-7 position-static d-none d-lg-block col-custom">
                                    <nav class="main-nav d-flex justify-content-center">
                                        <ul class="nav">
                                            <li>
                                                <a href="{% url 'home-view' %}">
                                                    <span class="menu-text"> Home</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{% url 'home-shop-view' %}">
                                                    <span class="menu-text"> Shop</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="menu-text">Categories</span>
                                                    <i class="fa fa-angle-down"></i>
                                                </a>
                                                <ul class="dropdown-submenu dropdown-hover">
                                                    {% for category in all_categories %}
                                                    <li><a href="{% url 'category-view' category.slug %}">{{category.name}}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#support-area-to">
                                                    <span class="menu-text"> Contact Us</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="col-lg-2 col-xl-3 col-sm-6 col-6 col-custom">
                                    <div class="header-right-area main-nav">
                                        <ul class="nav">
                                            

                                            {% if request.user.is_superuser %}
                                            <li class="login-register-wrap d-none d-xl-flex">
                                                <span><a href="{% url 'manage-orders-view' %}">Manage Orders</a></span>
                                                <span><a href="{% url 'logout-view' %}">Logout</a></span>
                                            </li>

                                            {% elif request.user.is_authenticated %}
                                            <li class="login-register-wrap d-none d-xl-flex">
                                                <span><a href="{% url 'logout-view' %}">Logout</a></span>
                                            </li>

                                            {% else %}
                                            <li class="login-register-wrap d-none d-xl-flex">
                                                <span><a href="{% url 'login-view' %}">Login</a></span>
                                                <span><a href="{% url 'signup-view' %}">Register</a></span>
                                            </li>
                                            {% endif %}

                                            <li class="minicart-wrap">
                                                <a href="{% url 'cart-view' %}" class="minicart-btn toolbar-btn">
                                                    <i class="ion-bag"></i>
                                                    <span class="cart-item_count">{{cartItems}}</span>
                                                </a>
                                            </li>
                                            <li class="mobile-menu-btn d-lg-none">
                                                <a class="off-canvas-btn" href="#">
                                                    <i class="fa fa-bars"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Main Header Area End -->

            <!-- Sticky Header Start Here-->
            <div class="main-header header-sticky">
                <div class="container container-default custom-area">
                    <div class="row">
                        <div class="col-lg-12 col-custom">
                            <div class="row align-items-center">
                                <div class="col-lg-2 col-xl-2 col-sm-6 col-6 col-custom">
                                    <div class="header-logo">
                                        <a href="{% url 'home-shop-view' %}">
                                            <img class="img-full" src="{% static '/assets/images/logo/logo-pombesigara.png' %}" alt="Header Logo">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-xl-7 position-static d-none d-lg-block col-custom">
                                    <nav class="main-nav d-flex justify-content-center">
                                        <ul class="nav">
                                            <li>
                                                <a href="{% url 'home-view' %}">
                                                    <span class="menu-text"> Home</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{% url 'home-shop-view' %}">
                                                    <span class="menu-text"> Shop</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="menu-text">Categories</span>
                                                    <i class="fa fa-angle-down"></i>
                                                </a>
                                                <ul class="dropdown-submenu dropdown-hover">
                                                    {% for category in all_categories %}
                                                    <li><a href="{% url 'category-view' category.slug %}">{{category.name}}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#support-area-to">
                                                    <span class="menu-text"> Contact Us</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="col-lg-2 col-xl-3 col-sm-6 col-6 col-custom">
                                    <div class="header-right-area main-nav">
                                        <ul class="nav">
                                            {% if request.user.is_superuser %}
                                            <li class="login-register-wrap d-none d-xl-flex">
                                                <span><a href="{% url 'manage-orders-view' %}">Manage Orders</a></span>
                                                <span><a href="{% url 'logout-view' %}">Logout</a></span>
                                            </li>

                                            {% elif request.user.is_authenticated %}
                                            <li class="login-register-wrap d-none d-xl-flex">
                                                <span><a href="{% url 'logout-view' %}">Logout</a></span>
                                            </li>

                                            {% else %}
                                            <li class="login-register-wrap d-none d-xl-flex">
                                                <span><a href="{% url 'login-view' %}">Login</a></span>
                                                <span><a href="{% url 'signup-view' %}">Register</a></span>
                                            </li>
                                            {% endif %}
                                            <li class="minicart-wrap">
                                                <a href="{% url 'cart-view' %}" class="minicart-btn toolbar-btn">
                                                    <i class="ion-bag"></i>
                                                    <span class="cart-item_count">{{cartItems}}</span>
                                                </a>
                                            </li>
                                            <li class="mobile-menu-btn d-lg-none">
                                                <a class="off-canvas-btn" href="#mobileMenu">
                                                    <i class="fa fa-bars"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sticky Header End Here -->


            <!-- off-canvas menu start -->
            <aside class="off-canvas-wrapper" id="mobileMenu">
                <div class="off-canvas-overlay"></div>
                <div class="off-canvas-inner-content">
                    <div class="btn-close-off-canvas">
                        <i class="fa fa-times"></i>
                    </div>

                    <div class="off-canvas-inner">

                        <div class="search-box-offcanvas">
                            <form method="GET" action="{% url 'search' %}">
                                <input type="text" placeholder="Search product..." name="query">
                                <button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>

                        <!-- mobile menu start -->
                        <div class="mobile-navigation">

                            <!-- mobile menu navigation start -->
                            <nav>
                                <ul class="mobile-menu">
                                    <li class="menu-item"><a href="{% url 'home-view' %}">Home</a>
                                    </li>
                                    <li class="menu-item"><a href="{% url 'home-shop-view' %}">Shop</a>
                                    </li>
                                    <li class="menu-item-has-children "><a href="#">Categories</a>
                                        <ul class="dropdown">
                                            {% for category in all_categories %}
                                            <li><a href="{% url 'category-view' category.slug %}">{{category.name}}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    <li><a href="#support-area-to">Contact Us</a></li>
                                </ul>
                            </nav>
                            <!-- mobile menu navigation end -->
                        </div>
                        <!-- mobile menu end -->


                        <div class="header-top-settings offcanvas-curreny-lang-support">
                            <!-- mobile menu navigation start -->
                            <nav>
                                <ul class="mobile-menu">
                                    <li class="menu-item-has-children"><a href="#">My Account</a>
                                        <ul class="dropdown">
                                            {% if request.user.is_superuser %}
                                            <li ><a href="{% url 'manage-orders-view' %}">Manage Orders</a></li>
                                            <li ><a href="{% url 'logout-view' %}">Logout</a></li>

                                            {% elif request.user.is_authenticated %}
                                            <li ><a href="{% url 'logout-view' %}">Logout</a></li>

                                            {% else %}
                                            <li ><a href="{% url 'login-view' %}">Login</a></li>
                                            <li ><a href="{% url 'signup-view' %}">Register</a></li>
                                            {% endif %}
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                            <!-- mobile menu navigation end -->
                        </div>

                        <!-- offcanvas widget area start -->
                        <div class="offcanvas-widget-area">
                            <div class="top-info-wrap text-left text-black">
                                <ul>
                                    <li>
                                        <i class="fa fa-phone"></i>
                                        <a href="tel:+254718040601">+254 718 040 601</a>
                                    </li>
                                    <li>
                                        <i class="fa fa-envelope"></i>
                                        <a href="info@pombesigara.co.ke">info@pombesigara.co.ke</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="off-canvas-widget-social">
                                <a title="Facebook-f" href="#"><i class="fa fa-facebook-f"></i></a>
                                <a title="Twitter" href="#"><i class="fa fa-twitter"></i></a>
                                <a title="Linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                                <a title="Youtube" href="#"><i class="fa fa-youtube"></i></a>
                                <a title="Vimeo" href="#"><i class="fa fa-vimeo"></i></a>
                            </div>
                        </div>
                        <!-- offcanvas widget area end -->
                    </div>
                </div>
            </aside>
            <!-- off-canvas menu end -->
        </header>


        {% block home %}
        {% endblock %}

        <div class="shop-wrapper">
            
            {% block content %}
            {% endblock %}


            <!-- Support Area Start Here -->
            <div class="support-area" id="support-area-to">
                <div class="container container-default custom-area">
                    <div class="row">
                        <div class="col-lg-12 col-custom">
                            <div class="support-wrapper d-flex">
                                <div class="support-content">
                                    <h1 class="title">Need Help ?</h1>
                                    <a href="tel:+254718040601"><p class="desc-content">Call +254 718 040601</p></a>
                                </div>
                                <div class="support-button d-flex align-items-center">
                                    <a class="obrien-button primary-btn" href="{% url 'contact' %}">Contact us now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Support Area End Here -->


            <!-- Footer Area Start Here -->
            <footer class="footer-area">
                <div class="footer-widget-area">
                    <div class="container container-default custom-area">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-custom">
                                <div class="single-footer-widget m-0">
                                    <div class="footer-logo">
                                        <a href="index.html">
                                            <img src="{% static 'assets/images/logo/logo-pombesigara-light.png' %}" alt="Logo Image">
                                        </a>
                                    </div>
                                    <p class="desc-content">Pombe Sigara will deliver all your party supplies to guarantee a good time</p>
                                    <div class="social-links">
                                        <ul class="d-flex">
                                            <li>
                                                <a class="border rounded-circle" href="#" title="Facebook">
                                                    <i class="fa fa-facebook-f"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="border rounded-circle" href="#" title="Twitter">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <!-- <li>
                                                <a class="border rounded-circle" href="#" title="Linkedin">
                                                    <i class="fa fa-linkedin"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="border rounded-circle" href="#" title="Youtube">
                                                    <i class="fa fa-youtube"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="border rounded-circle" href="#" title="Vimeo">
                                                    <i class="fa fa-vimeo"></i>
                                                </a>
                                            </li> -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-1 col-custom">
                                <div class="single-footer-widget">
                                    
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-2 col-custom">
                                <div class="single-footer-widget">
                                    <h2 class="widget-title">Quicklinks</h2>
                                    <ul class="widget-list">
                                        <li><a href="{% url 'home-view' %}">Home</a></li>
                                        <li><a href="{% url 'home-shop-view' %}">Shop</a></li>
                                        <li><a href="{% url 'cart-view' %}">Cart</a></li>
                                        <li><a href="{% url 'checkout-view' %}">Checkout</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-custom">
                                <div class="single-footer-widget">
                                    <h2 class="widget-title">See Information</h2>
                                    <div class="widget-body">
                                        <address>Location: Kilimani<br>
                                            <a href="tel:+254718040601">Phone: +254 718 040601</a>
                                            <br>Email: info@pombesigara.co.ke
                                            <br>
                                        </address>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-custom">
                                <div class="single-footer-widget">
                                    <h2 class="widget-title"><a >Company Policy</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright-area">
                    <div class="container custom-area">
                        <div class="row">
                            <div class="col-12 text-center col-custom">
                                <div class="copyright-content">
                                    <p>Copyright © 2021 Pombe Sigara</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- Footer Area End Here -->

        </div>

    </div> 

    <!-- Scroll to Top Start -->
    <a class="scroll-to-top" href="#">
        <i class="ion-chevron-up"></i>
    </a>
    <!-- Scroll to Top End -->



    <!-- JS
============================================ -->

    <!-- jQuery JS -->
    <script src="{% static '/assets/js/vendor/jquery-3.5.1.min.js' %}"></script>
    <!-- jQuery Migrate JS -->
    <script src="{% static '/assets/js/vendor/jQuery-migrate-3.3.0.min.js' %}"></script>
    <!-- Modernizer JS -->
    <script src="{% static '/assets/js/vendor/modernizr-2.8.3.min.js' %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static '/assets/js/vendor/bootstrap.bundle.min.js' %}"></script>
    <!-- Slick Slider JS -->
    <script src="{% static '/assets/js/plugins/slick.min.js' %}"></script>
    <!-- Countdown JS -->
    <script src="{% static '/assets/js/plugins/jquery.countdown.min.js' %}"></script>
    <!-- Ajax JS -->
    <script src="{% static '/assets/js/plugins/jquery.ajaxchimp.min.js' %}"></script>
    <!-- Jquery Nice Select JS -->
    <script src="{% static '/assets/js/plugins/jquery.nice-select.min.js' %}"></script>
    <!-- Jquery Ui JS -->
    <script src="{% static '/assets/js/plugins/jquery-ui.min.js' %}"></script>
    <!-- jquery magnific popup js -->
    <script src="{% static '/assets/js/plugins/jquery.magnific-popup.min.js' %}"></script>

    <!-- Main JS -->
    <script src="{% static '/assets/js/main.js' %}"></script>
    <script src="{% static '/assets/js/cart.js' %}"></script>

</body>