{% extends 'base.html' %}
{% load static %}
{% load humanize %}


{% block content %}



    <div class="row">
        <div class="col-12 text-center">
            <div class="breadcrumb-content position-relative section-content">
                <h3 class="title-3">Shopping Cart</h3>
                <ul>
                </ul>
            </div>
        </div>
    </div>

    <!-- cart main wrapper start -->
    <div class="cart-main-wrapper mt-no-text mb-no-text">
        <div class="container container-default-2 custom-area">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Cart Table Area -->
                    <div class="cart-table table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="pro-thumbnail">Image</th>
                                    <th class="pro-title">Product</th>
                                    <th class="pro-price">Price</th>
                                    <th class="pro-quantity">Quantity</th>
                                    <th class="pro-subtotal">Total</th>
                                    <th class="pro-remove">Remove</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% if items is None %}
                                <tr>
                                    <td><div>Cart is Empty </div></td>
                                </tr>

                                {% else %}

                                {% for item in items %}
                                <tr>
                                    <td class="pro-thumbnail"><a href="#"><img class="img-fluid" src="{{item.product.imageUrl}}" alt="Product" /></a></td>
                                    <td class="pro-title"><a href="#">{{item.product.name}} <br> </a></td>
                                    <td class="pro-price"><span>Ksh {{item.product.new_price|intcomma}}</span></td>
                                    <td class="pro-quantity">
                                        <div class="quantity">
                                            <div class="cart-plus-minus">
                                                <input class="cart-plus-minus-box" value="{{item.quantity}}" type="text">
                                                <!-- <div data-product="{{item.product.id}}" data-action="remove" class="dec qtybutton add-to-store">-</div>
                                                <div data-product="{{item.product.id}}" data-action="add" class="inc qtybutton add-to-store">+</div>  -->
                                                <div data-product="{{item.product.id}}" data-action="remove" class="dec qtybutton add-to-store"><i class="fa fa-minus"></i></div>
                                                <div data-product="{{item.product.id}}" data-action="add" class="inc qtybutton add-to-store"><i class="fa fa-plus"></i></div> 
                                            </div>
                                        </div>
                                    </td>
                                    <td class="pro-subtotal"><span>Ksh {{ item.total|intcomma }}</span></td>
                                    <td data-product="{{item.product.id}}" data-action="delete" class="pro-remove add-to-store"><a><i class="ion-trash-b"></i></a></td>
                                </tr>
                                {% endfor %}

                                {% endif %}

                            </tbody>
                        </table>
                    </div>
                    <!-- Cart Update Option -->
                    <div class="cart-update-option d-block d-md-flex justify-content-between">
                        <div class="apply-coupon-wrapper">
                            <form action="#" method="post" class=" d-block d-md-flex">
                                <input type="text" placeholder="Enter Your Coupon Code" required />
                                <button class="btn obrien-button primary-btn">Apply Discount</button>
                            </form>
                        </div>
                        <div class="cart-update mt-sm-16">
                            <a href="#" class="btn obrien-button primary-btn">Remove All</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 ml-auto">
                    <!-- Cart Calculation Area -->
                    <div class="cart-calculator-wrapper">
                        <div class="cart-calculate-items">
                            <h3>Cart Totals</h3>
                            <div class="table-responsive">
                                <table class="table">
                                    <tr>
                                        <td>Total Items</td>
                                        <td>{{order.cart_items}}</td>
                                    </tr>
                                    <tr>
                                        <td>Sub Total</td>
                                        <td>Ksh {{order.cart_total|intcomma}}</td>
                                    </tr>

                                    <tr>
                                        <td>Shipping</td>
                                        <td>Ksh 200</td>
                                    </tr>

                                    <tr class="total">
                                        <td>Total</td>
                                        <td class="total-amount">Ksh {{order.cart_total|intcomma}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <a href="{% url 'checkout-view' %}" class="btn obrien-button primary-btn d-block">Proceed To Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- cart main wrapper end -->

    
{% endblock %}