{% extends 'base.html' %}
{% load static %}
{% load humanize %}


{% block content %}



    <div class="row">
        <div class="col-12 text-center">
            <div class="breadcrumb-content position-relative section-content">
                <h3 class="title-3">{{category.name}}</h3>
            </div>
        </div>
    </div>


    <!-- Shop Main Area Start Here -->
    <div class="shop-main-area">
        <div class="container container-default custom-area">
            <div class="row flex-row-reverse">

                <div class="col-lg-9 col-12 col-custom widget-mt">

                    <!--shop toolbar start-->
                    <div class="shop_toolbar_wrapper">
                        <div class="shop_toolbar_btn">
                            <button data-role="grid_3" type="button" class="active btn-grid-3" data-toggle="tooltip" title="3"><i class="fa fa-th"></i></button>
                            <!-- <button data-role="grid_4" type="button"  class=" btn-grid-4" data-toggle="tooltip" title="4"></button> -->
                            <button data-role="grid_list" type="button" class="btn-list" data-toggle="tooltip" title="List"><i class="fa fa-th-list"></i></button>
                        </div>
                    </div>
                    <!--shop toolbar end-->

                    <!-- Shop Wrapper Start -->
                    <div class="row shop_wrapper grid_3">
                        {% for product in products %}
                        <div class="col-md-6 col-sm-6 col-lg-4 col-custom product-area">
                            
                            <div class="single-product position-relative">
                                
                                <div class="product-image">
                                    <a class="d-block" href="{% url 'product-view' product.slug %}">
                                        <img src="{{product.image.url}}" alt="" class="product-image-1 w-100">
                                        <img src="{{product.image.url}}" alt="" class="product-image-2 position-absolute w-100">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <div class="product-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <div class="product-title">
                                        <h4 class="title-2"> <a href="{% url 'product-view' product.slug %}">{{product.name}}</a></h4>
                                    </div>
                                    <div class="price-box">
                                        <span class="regular-price ">Ksh {{product.old_price|intcomma}}</span>
                                        <span class="old-price"><del>Ksh {{product.new_price|intcomma}}</del></span>
                                    </div>
                                </div>
                                <div class="add-action d-flex position-absolute">
                                    <a data-product="{{product.id}}" data-action="add" class="add-to-store" title="Add To cart">
                                        <i class="ion-bag"></i>
                                    </a>
                                    <a href="wishlist.html" title="Add To Wishlist">
                                        <i class="ion-ios-heart-outline"></i>
                                    </a>
                                </div>
                                

                                <div class="product-content-listview">
                                    <div class="product-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <div class="product-title">
                                        <h4 class="title-2"> <a href="{% url 'product-view' product.slug %}">{{product.name}}</a></h4>
                                    </div>
                                    <div class="price-box">
                                        <span class="regular-price ">Ksh {{product.old_price|intcomma}}</span>
                                        <span class="old-price"><del>Ksh {{product.new_price|intcomma}}</del></span>
                                    </div>
                                    <div class="add-action-listview d-flex">
                                        <a data-product="{{product.id}}" data-action="add" class="add-to-store" title="Add To cart">
                                            <i class="ion-bag"></i>
                                        </a>
                                        <a href="wishlist.html" title="Add To Wishlist">
                                            <i class="ion-ios-heart-outline"></i>
                                        </a>
                                    </div>
                                    
                                </div>
                                
                            </div>
                            
                        
                        </div>
                        {% endfor %}
                    </div>
                    <!-- Shop Wrapper End -->
                    

                    <!-- Bottom Toolbar Start -->
                    <div class="row">
                        <div class="col-sm-12 col-custom">
                            <div class="toolbar-bottom mt-30">
                                <nav class="pagination pagination-wrap mb-10 mb-sm-0">
                                    <ul class="pagination">
                                        {% if products.has_previous %}
                                            <li><a href="?page={{ products.previous_page_number }}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                                        {% else %}
                                            <li class="disabled"><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span></li>
                                        {% endif %}

                                        {% if products.number|add:'-4' > 1 %}
                                            <li><a href="?page={{ products.number|add:'-5' }}">&hellip;</a></li>
                                        {% endif %}

                                        {% for i in products.paginator.page_range %}
                                            {% if products.number == i %}
                                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                            {% elif i > products.number|add:'-5' and i < products.number|add:'5' %}
                                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                                            {% endif %}
                                        {% endfor %}

                                        {% if products.paginator.num_pages > products.number|add:'4' %}
                                            <li><a href="?page={{ products.number|add:'5' }}">&hellip;</a></li>
                                        {% endif %}

                                        {% if products.has_next %}
                                            <li><a href="?page={{ products.next_page_number }}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                                        {% else %}
                                            <li class="disabled"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></li>
                                        {% endif %}
                                    </ul>
                                </nav>
                                <!-- <p class="desc-content text-center text-sm-right">Showing 1 - 12 of 34 result</p> -->
                            </div>
                        </div>
                    </div>
                    <!-- Bottom Toolbar End -->
                </div>


                <div class="col-lg-3 col-12 col-custom">
                    <!-- Sidebar Widget Start -->
                    <aside class="sidebar_widget widget-mt">
                        <div class="widget_inner">
                            <div class="widget-list widget-mb-1">
                                <h3 class="widget-title">Search</h3>
                                <div class="search-box">
                                    <form method="GET" action="{% url 'search' %}">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Search Our Store" aria-label="Search Our Store" name="query">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="submit">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            
                            <div class="widget-list widget-mb-1">
                                <h3 class="widget-title">Categories</h3>
                                <div class="sidebar-body">
                                    <ul class="sidebar-list">
                                        {% for cat in all_categories %}
                                        <li><a href="{% url 'category-view' cat.slug %}">{{cat.name}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            
                            
                            
                        </div>
                    </aside>
                    <!-- Sidebar Widget End -->
                </div>
                
            </div>
        </div>
        <!-- Shop Main Area End Here -->
    </div>


{% endblock %}