{% extends 'base.html' %}
{% load static %}
{% load humanize %}


{% block content %}

<style>
    /* Page Loader */
    #loading {
        position: fixed;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        text-align: center;
        /* align-items: center; */
        opacity: 0.7;
        background-color: #fff;
        z-index: 99;
    }

    #loading-image {
        position: absolute;
        top: 40%;
        left: 45%;
        z-index: 100;
    }
</style>

<div id="loading">
    <img id="loading-image" src="https://upload.wikimedia.org/wikipedia/commons/c/c7/Loading_2.gif?20170503175831"
        alt="Loading..." />
</div>

<div class="row">
    <div class="col-12 text-center">
        <div class="breadcrumb-content position-relative section-content">
            <h3 class="title-3">Checkout</h3>
        </div>
    </div>
</div>


<!-- Checkout Area Start Here -->
<div class="checkout-area">
    <div class="container container-default-2 custom-container">

        <div class="row" id="user-info">
            <div class="col-12">
                <div class="coupon-accordion">
                    <h3 id="showlogin">Returning customer? <span>Click here to login</span></h3>
                    <div id="checkout-login" class="coupon-content">
                        <div class="coupon-info">
                            <form action="#">
                                {% csrf_token %}
                                <p class="form-row-first">
                                    <label>Username or email <span class="required">*</span></label>
                                    <input type="text">
                                </p>
                                <p class="form-row-last">
                                    <label>Password <span class="required">*</span></label>
                                    <input type="password">
                                </p>
                                <p class="form-row">
                                    <input type="checkbox" id="remember_me">
                                    <label for="remember_me">Remember me</label>
                                </p>

                                <div class="form-row mt-2">
                                    <button class="btn obrien-button primary-btn">Log In</button>
                                </div>

                                <p class="lost-password"><a href="#">Lost your password?</a></p>
                            </form>
                        </div>
                    </div>
                    <!-- <h3>Have a coupon? <span id="showcoupon">Click here to enter your code</span></h3>
                        <div id="checkout_coupon" class="coupon-checkout-content">
                            <div class="coupon-info">
                                <form action="#">
                                    <p class="checkout-coupon">
                                        <input placeholder="Coupon code" type="text">
                                        <input class="coupon-inner_btn" value="Apply Coupon" type="submit">
                                    </p>
                                </form>
                            </div>
                        </div> -->
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-6 col-12">
                <div class="your-order">
                    <h3>Your order</h3>
                    <div class="your-order-table table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="cart-product-name">Product</th>
                                    <th class="cart-product-total">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in items %}
                                <tr class="cart_item">
                                    <td class="cart-product-name"> {{item.product.name}}<strong
                                            class="product-quantity">
                                            × {{item.quantity}}</strong></td>
                                    <td class="cart-product-total text-center"><span class="amount">Ksh
                                            {{item.total|intcomma}}</span></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr class="cart-subtotal">
                                    <th>Cart Subtotal ({{order.cart_items}} items)</th>
                                    <td class="text-center"><span class="amount">Ksh
                                            {{order.cart_total|intcomma}}</span></td>
                                </tr>
                                <tr class="order-total">
                                    <th>Order Total</th>
                                    <td class="text-center"><strong><span class="amount">Ksh
                                                {{order.cart_total|intcomma}}</span></strong></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- <div class="payment-method">
                            <div class="payment-accordion">
                                <div id="accordion">
                                    <div class="card">
                                        <div class="card-header" id="#payment-1">
                                            <h5 class="panel-title mb-2">
                                                <a href="#" class="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    Pay with Mpesa.
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                            <div class="card-body mb-2 mt-2">
                                                <p>Make your payment to our mpesa Till Number: 79 78 181.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="#payment-2">
                                            <h5 class="panel-title mb-2">
                                                <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    Cash on Delivery
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                            <div class="card-body mb-2 mt-2">
                                                <p>Make payment upon delivery</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div> -->
                </div>
            </div>


            <div class="col-lg-6 col-12">
                <form id="form" action="#">
                    <div class="checkbox-form">
                        <h3>Delivery Details</h3>
                        <div class="row">

                            <div class="row" id="user-info2">
                                <div class="col-md-6">
                                    <div class="checkout-form-list">
                                        <label>First Name <span class="required">*</span></label>
                                        <input placeholder="" type="text" name="first_name" id="id_first_name">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="checkout-form-list">
                                        <label>Last Name <span class="required">*</span></label>
                                        <input placeholder="" type="text" name="last_name" id="id_last_name">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="checkout-form-list">
                                        <label>Email Address <span class="required">*</span></label>
                                        <input placeholder="" type="email" name="email" id="id_email">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="checkout-form-list">
                                        <label>Phone Number<span class="required">*</span></label>
                                        <input type="text" name="phone_number" id="id_phone_number">
                                    </div>
                                </div>
                            </div>

                            <div id="shipping-info">
                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label>Delivery Location Pin<span class="required">*</span></label>
                                        <input id='location' name="delivery_pin"
                                            placeholder="Enter Location Pin for easier delivery. Our finder is not as accurate"
                                            type="text" value="">
                                        <button class="btn obrien-button primary-btn mt-2" onclick="getLocation()">Get
                                            Location</button>
                                    </div>
                                </div>


                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label>Building Name <span class="required">*</span></label>
                                        <input type="text" name="building_name" id="id_building_name">
                                    </div>
                                </div>
                            </div>

                            <div class="order-notes mt-3">
                                <div class="checkout-form-list checkout-form-list-2">
                                    <label>Order Notes</label>
                                    <textarea id="checkout-mess" name="order_notes" cols="30" rows="10"
                                        placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                                </div>
                            </div>

                            <!-- <div class="col-md-12">
                                    <div class="checkout-form-list create-acc">
                                        <input id="cbox" type="checkbox">
                                        <label for="cbox">Create an account?</label>
                                    </div>
                                    <div id="cbox-info" class="checkout-form-list create-account">
                                        <p class="mb-2">Create an account by entering the information below. If you are a returning customer please login at the top of the page.</p>
                                        <label>Account password <span class="required">*</span></label>
                                        <input placeholder="password" type="password">
                                    </div>
                                </div> -->



                        </div>

                    </div>

                    <!-- <div class="order-button-payment">
                            <input value="Place order" id='order_confirm' type="submit">
                        </div> -->

                    <div class="row mt-3" id="user-info2">
                        <div class="col-md-6">
                            <button type="button" id="on_site" class="obrien-button bg-success text-white intaSendPayButton"
                                data-amount="10" data-currency="USD">On-site checkout</button>
                        </div>

                        <!-- <div class="col-md-6">
                                <div class="checkout-form-list">
                                    <button id="off_site" class="obrien-button bg-warning text-white">Off-site chckout</button>
                                </div>
                            </div> -->

                    </div>

                </form>
            </div>


        </div>

    </div>
</div>
<!-- Checkout Area End Here -->
<script src="https://unpkg.com/intasend-inlinejs-sdk@3.0.4/build/intasend-inline.js"></script>
<script src="{% static '/assets/js/vendor/jquery-3.5.1.min.js' %}"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        $('#loading').hide()
    })
</script>

<script type="text/javascript">

    var total = '{{order.cart_total|intcomma}}'


    if (user != 'AnonymousUser') {
        document.getElementById('user-info').classList.add("invisible")
        document.getElementById('user-info2').classList.add("invisible")
    }

    var form = document.getElementById('form')

    csrf_token = form.getElementsByTagName("input")[0].value

    form.addEventListener('submit', function (e) {
        e.preventDefault()

    })


    document.getElementById('order_confirm').addEventListener('click', function (e) {
        // submitFormdata()
        console.log('checking out')

    })


    function submitFormdata() {
        console.log('Order button clicked')

        var userFormData = {

            'first_name': null,
            'last_name': null,
            'email': null,
            'phone_number': null,
            'delivery_pin': form.delivery_pin.value,
            'building_name': form.building_name.value,
            'order_notes': form.order_notes.value,
            'total': total

        }


        if (user == 'AnonymousUser') {
            userFormData.first_name = form.first_name.value
            userFormData.last_name = form.last_name.value
            userFormData.email = form.email.value
            userFormData.phone_number = form.phone_number.value
        }

        var url = '/process_order/'

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({ 'form': userFormData })

        })

        .then((response) => response.json())

        .then((data) => {
            console.log('Success:', data);
            alert('Order Completed');

            cart = {}
            document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
            window.location.href = "{% url 'home-shop-view' %}"
        })

    }

</script>

<script type="text/javascript">

    new window.IntaSend({
        publicAPIKey: "ISPubKey_test_8c1e53d9-e67f-4072-a6fd-35e986f88640",
        live: false //set to true when going live
    })
    .on("COMPLETE", (results) => {
        console.log("Do something on success", results)
        completePayment() 
    })
    .on("FAILED", (results) => {
        console.log("Do something on failure", results)
        alert('Payment Failed')
    })
    .on("IN-PROGRESS", (results) => {
        console.log("Payment in progress status", results)
        alert('Payment Still in Progress')
    })


    function completePayment () {

        var userFormData = {

            'first_name': $('#id_first_name').val(),
            'last_name': $('#id_last_name').val(),
            'email': $('#id_email').val(),
            'phone_number': $('#id_phone_number').val(),
            'delivery_pin': $('#location').val(),
            'building_name': $('#id_building_name').val(),
            'order_notes': $('#checkout-mess').val(),
            'total': total

        }

        var url = '/process_order/'

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({ 'form': userFormData })

        })

        .then((response) => response.json())

        .then((data) => {
            console.log('Success:', data);
            alert('Order Completed');

            cart = {}
            document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
            // window.location.href = "{% url 'home-shop-view' %}"
            window.location.href = "{% url 'home-view' %}"
        })

    }

</script>

<script type="text/javascript">

    var total = '{{order.cart_total|intcomma}}'
    let on_site_btn = $('#on_site')

    on_site_btn.attr("data-amount", total)

    $('#id_first_name').on('input', function(){on_site_btn.attr("data-first_name", $('#id_first_name').val())})
    $('#id_last_name').on('input', function(){on_site_btn.attr("data-last_name", $('#id_last_name').val())})
    $('#id_email').on('input', function(){on_site_btn.attr("data-email", $('#id_email').val())})
    $('#id_phone_number').on('input', function(){on_site_btn.attr("data-phone_number", $('#id_phone_number').val())})

</script>


{% endblock %}