{% extends 'base.html' %}
{% load static %}
{% load humanize %}


{% block content %}


    <!-- Contact Us Area Start Here -->
    <div class="contact-us-area">
        <div class="container container-default-2 custom-area">
            
            <div class="row">
                <div class="col-md-12 col-custom">
                    <form method="POST" action="." accept-charset="UTF-8" class="contact-form">
                        {% csrf_token %}
                        <div class="comment-box mt-5">
                            <h5 class="text-uppercase">Get in Touch</h5>
                            <div class="row mt-3">
                                <div class="col-md-6 col-custom">
                                    <div class="input-item mb-4">
                                        {{form.name}}
                                    </div>
                                </div>
                                <div class="col-md-6 col-custom">
                                    <div class="input-item mb-4">
                                        {{form.email}}
                                    </div>
                                </div>
                                <div class="col-12 col-custom">
                                    <div class="input-item mb-4">
                                        {{form.subject}}
                                    </div>
                                </div>
                                <div class="col-12 col-custom">
                                    <div class="input-item mb-4">
                                        {{form.message}}
                                    </div>
                                </div>
                                <div class="col-12 col-custom mt-40">
                                    <button type="submit" name="submit" class="btn obrien-button primary-btn rounded-0 mb-0">Send A Message</button>
                                </div>
                                <p class="col-12 col-custom form-message mb-0"></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact Us Area End Here -->
    

{% endblock %}