{% extends 'base.html' %}
{% load static %}
{% load humanize %}


{% block home %}


    <!-- Begin Slider Area One -->
    <div class="slider-area ">
        <div class="obrien-slider arrow-style" data-slick-options='{
        "slidesToShow": 1,
        "slidesToScroll": 1,
        "infinite": true,
        "arrows": true,
        "dots": true,
        "autoplay" : true,
        
        "fade" : true,
        "autoplaySpeed" : 5000,
        "pauseOnHover" : false,
        "pauseOnFocus" : false
        }' data-slick-responsive='[
        {"breakpoint":992, "settings": {
        "slidesToShow": 1,
        "arrows": false,
        "dots": true
        }}
        ]'>

            <a href="" class="slide-item slide-3 bg-position slide-bg-1 animation-style-01 position-relative">
                <div class="slider-content">
                    <div class="col-6">
                    </div>
                </div>
            </a>

            <a href="" class="slide-item slide-4 bg-position slide-bg-1 animation-style-01 position-relative">
                <div class="slider-content">
                    
                </div>
            </a>

            <a href=""class="slide-item slide-2 bg-position slide-bg-1 animation-style-01 position-relative">
                <div class="slider-content">
                    
                </div>
            </a>

        </div>
    </div>
    <!-- Slider Area One End Here -->

    <!-- Call To Action Area Start Here -->
    <div class="call-to-action-area">
        <div class="container container-default custom-area">
            <div class="row">
                
            </div>
        </div>
    </div>
    <!-- Call to Action Area End Here -->

    <!-- Banner Area Start Here -->
    <div class="banner-area mt-12">
        <div class="container container-default custom-area">
            <div class="row">
                {% for cat in all_categories %}
                <div class="col-md-4 col-sm-12 col-custom mb-4">
                    <div class="banner-image hover-style">
                        <a class="d-block" href="{% url 'category-view' cat.slug %}">
                            <img class="w-100" src="{{cat.imageUrl}}" alt="Banner Image">
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Banner Area End Here -->


{% endblock %}