{% extends 'base.html' %}
{% load static %}
{% load humanize %}


{% block content %}


        <div class="row">
            <div class="col-12 text-center">
                <div class="breadcrumb-content position-relative section-content">
                    <h3 class="title-3">Manage Orders</h3>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>Manage orders</li>
                    </ul>
                </div>
            </div>
        </div>


        <!-- my account wrapper start -->
        <div class="my-account-wrapper mt-no-text mb-no-text">
            <div class="container container-default-2 custom-area">
                <div class="row">
                    <div class="col-lg-12 col-custom">
                        <!-- My Account Page Start -->
                        <div class="myaccount-page-wrapper">
                            <!-- My Account Tab Menu Start -->
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-custom">
                                    <div class="myaccount-tab-menu nav" role="tablist">
                                        <a href="#orders-confirmed"  class="active" data-toggle="tab"><i class="fa fa-cart-arrow-down"></i>
                                            Confirmed Orders</a>
                                        <a href="#orders-shipped"   data-toggle="tab"><i class="fa fa-car"></i>
                                            Shipped Orders</a>
                                        <a href="#orders-delivered"   data-toggle="tab"><i class="fa fa-map-marker"></i>
                                            Delivered Orders</a>
                                    </div>
                                </div>
                                <!-- My Account Tab Menu End -->

                                <!-- My Account Tab Content Start -->
                                <div class="col-lg-9 col-md-8 col-custom">
                                    <div class="tab-content" id="myaccountContent">
                                       

                                        <!-- Single Tab Content Start -->
                                        <div class="tab-pane fade show active" id="orders-confirmed" role="tabpanel">
                                            <div class="myaccount-content">
                                                <h3>Confirmed Orders</h3>
                                                <div class="myaccount-table table-responsive text-center">
                                                    <table class="table table-bordered">
                                                        <thead class="thead-light">
                                                            <tr>
                                                                <th>Order No</th>
                                                                <th>Date</th>
                                                                <th>Status</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for order in confirmed_orders %}
                                                            <tr>
                                                                <td>{{order.id}}</td>
                                                                <td>{{order.date_ordered}}</td>
                                                                <td>{{order.status}}</td>
                                                                <td><a href="{% url 'manage-single-order-view' order %}" class="btn obrien-button-2 primary-color rounded-0">View</a></td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Single Tab Content End -->

                                        <!-- Single Tab Content Start -->
                                        <div class="tab-pane fade" id="orders-shipped" role="tabpanel">
                                            <div class="myaccount-content">
                                                <h3>Shipped Orders</h3>
                                                <div class="myaccount-table table-responsive text-center">
                                                    <table class="table table-bordered">
                                                        <thead class="thead-light">
                                                            <tr>
                                                                <th>Order No</th>
                                                                <th>Date</th>
                                                                <th>Status</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for order in shipped_orders %}
                                                            <tr>
                                                                <td>{{order.id}}</td>
                                                                <td>{{order.date_ordered}}</td>
                                                                <td class="text-blue">{{order.status}}</td>
                                                                <td><a href="{% url 'manage-single-order-view' order %}" class="btn obrien-button-2 primary-color rounded-0">View</a></td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Single Tab Content End -->

                                        <!-- Single Tab Content Start -->
                                        <div class="tab-pane fade" id="orders-delivered" role="tabpanel">
                                            <div class="myaccount-content">
                                                <h3>Delivered Orders</h3>
                                                <div class="myaccount-table table-responsive text-center">
                                                    <table class="table table-bordered">
                                                        <thead class="thead-light">
                                                            <tr>
                                                                <th>Order No</th>
                                                                <th>Date</th>
                                                                <th>Status</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for order in delivered_orders %}
                                                            <tr>
                                                                <td>{{order.id}}</td>
                                                                <td>{{order.date_ordered}}</td>
                                                                <td>{{order.status}}</td>
                                                                <td><a href="{% url 'manage-single-order-view' order %}" class="btn obrien-button-2 primary-color rounded-0">View</a></td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Single Tab Content End -->

                                    </div>
                                </div> <!-- My Account Tab Content End -->
                            </div>
                        </div> <!-- My Account Page End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- my account wrapper end -->
        <!-- Support Area Start Here -->


{% endblock %}