{% extends 'base.html' %}
{% load static %}
{% load humanize %}


{% block content %}


    <div class="row">
        <div class="col-12 text-center">
            <div class="breadcrumb-content position-relative section-content">
                <h3 class="title-3">Order Details</h3>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li>Order Details</li>
                </ul>
            </div>
        </div>
    </div>



    <!-- cart main wrapper start -->
    <div class="cart-main-wrapper mt-no-text mb-no-text">
        <div class="container container-default-2 custom-area">
            <div class="row">

                <div class="col-lg-6 col-12">
                    <div class="your-order">
                        <h3>Customer Order</h3>
                        <div class="your-order-table table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="cart-product-name">Product</th>
                                        <th class="cart-product-total">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in order_items %}
                                    <tr class="cart_item">
                                        <td class="cart-product-name"> {{item.product.name}}<strong class="product-quantity">
                                × {{item.quantity}}</strong></td>
                                        <td class="cart-product-total text-center"><span class="amount">Ksh {{item.total|intcomma}}</span></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr class="cart-subtotal">
                                        <th>Cart Subtotal ({{order.cart_items}} items)</th>
                                        <td class="text-center"><span class="amount">Ksh {{order.cart_total|intcomma}}</span></td>
                                    </tr>
                                    <tr class="order-total">
                                        <th>Order Total</th>
                                        <td class="text-center"><strong><span class="amount">Ksh {{order.cart_total|intcomma}}</span></strong></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        
                    </div>
                </div>


                <div class="col-lg-6 col-12">
                    
                    <div class="checkbox-form">
                        <h3>Customer Delivery Details</h3>
                        <div class="row">

                            <div class="col-md-6">

                                {% if delivery_details.customer.user is None %}
                                <div class="checkout-form-list">
                                    <h6 class="title-6">Names:</h6> {{delivery_details.first_name}} {{delivery_details.last_name}}
                                </div>
                                <div class="checkout-form-list">
                                    <h6 class="title-6">Phone number:</h6> {{delivery_details.customer.phone_number}} 
                                </div>
                                <div class="checkout-form-list">
                                    <h6 class="title-6"l>Email:</h6> {{delivery_details.email}}
                                </div>

                                {% else %}
                                <div class="checkout-form-list">
                                    <h6 class="title-6">Names:</h6> {{delivery_details.customer.user.first_name}} {{delivery_details.customer.user.last_name}}
                                </div>
                                <div class="checkout-form-list">
                                    <h6 class="title-6">Phone number:</h6> {{delivery_details.customer.phone_number}} 
                                </div>
                                <div class="checkout-form-list">
                                    <h6 class="title-6"l>Email:</h6> {{delivery_details.customer.user.email}}
                                </div>
                                {% endif %}

                                <div class="checkout-form-list">
                                    <h6 class="title-6">Delivery Pin:</h6> {{delivery_details.delivery_pin}}
                                </div>
                                <div class="checkout-form-list">
                                    <h6 class="title-6">Building Name:</h6> {{delivery_details.building_name}}
                                </div>
                                <div class="checkout-form-list">
                                    <h6 class="title-6">Notes:</h6> {{delivery_details.delivery_instructions}}
                                </div>
                            </div>

                        </div>
                        
                        {% if order.status == 'confirmed' %}
                        <a href="{% url 'ship-order-view' order %}" class="btn obrien-button-2 red rounded-0 mr-4 text-white">Ship Order</a>

                        {% elif order.status == 'shipped' %}
                        <a href="{% url 'deliver-order-view' order %}" class="btn obrien-button-2 green rounded-0 text-white">Mark as Delivered</a>

                        {% endif %}
                    </div>

                    
                        
                </div>
   


            </div>

        </div>
    </div>
    <!-- cart main wrapper end -->

    
{% endblock %}