{% load humanize %}


<!doctype html>
<html lang="en">

    <head>
    
    </head>

    <body>
        <div class="row">
            <div class="col-12">
                <div>
                    <div>
                        <table style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px;width:100%;background-color:#f6f6f6;margin:0" bgcolor="#f6f6f6">
                            <tbody>
                                <tr style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px;margin:0">
                                    <td style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px;vertical-align:top;margin:0" valign="top"></td>
                                    <td width="600" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px;vertical-align:top;display:block!important;max-width:600px!important;clear:both!important;margin:0 auto" valign="top">
                                        <div style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px;max-width:600px;display:block;margin:0 auto;padding:20px">
                                            <table width="100%" cellpadding="0" cellspacing="0" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px;border-radius:3px;margin:0;border:none">
                                                <tbody>
                                                    <tr style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px;margin:0">
                                                        <td style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px;vertical-align:top;margin:0;padding:20px;border:3px solid #1d1e3a;border-radius:7px;background-color:#fff" align="center" valign="top">
                                                            <table width="100%" cellpadding="0" cellspacing="0" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px;margin:0">
                                                                <tbody>
                                                                    <tr style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px;margin:0">
                                                                        <td style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px;vertical-align:top;margin:0;padding:0 0 20px" valign="top">
                                                                            <h2 style="font-family:'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;box-sizing:border-box;font-size:24px;color:#000;line-height:1.2em;font-weight:400;text-align:center;margin:40px 0 0" align="center">Thank you for ordering with us.</h2>
                                                                        </td>
                                                                    </tr>
                                                                    <tr style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px;margin:0">
                                                                        <td style="text-align:left;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px;vertical-align:top;margin:0;padding:0" valign="top">
                                                                            <b style="font-weight:600">Order No: {{email_order.id}} </b>
                                                                        </td>
                                                                    </tr>
                
                
                
                                                                    <tr style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px;margin:0">
                                                                        <td style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px;vertical-align:top;text-align:center;margin:0;padding:0 0 20px" align="center" valign="top">
                                                                            <table style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px;text-align:left;width:100%;margin:40px auto">
                                                                                <tbody>
                                                                                    <tr style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px;margin:0"></tr>
                                                                                    <tr style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px;margin:0">
                                                                                        <td style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px;vertical-align:top;margin:0;padding:5px 0" valign="top">
                                                                                            <table cellpadding="2" cellspacing="0" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px;width:100%;margin:0">
                                                                                                
                                                                                                <tbody>
                                                                                                    <tr style="background-color:#eee">
                                                    
                                                                                                    <th style="padding:10px">Product</th>
                                                                                                    <th style="padding:10px">Quantity</th>
                                                                                                    <th style="padding:10px;text-align:right">Total</th>
                                                                                                    </tr>
                                                                                                    
                                                                                                    {% for item in email_order_items %}
                                                                                                    <tr>
                                                                                                        <td style="text-align:centre;padding:10px">{{item.product.name}}</td>
                                                                                                        <td style="text-align:centre;padding:10px">× {{item.quantity}}</td>
                                                                                                        <td style="text-align:right;padding:10px" >Ksh {{item.total|intcomma}}</td>
                                                                                                        
                                                                                                    </tr>
                                                                                                    {% endfor %}

                                                                                                    <tr>
                                                                                                        <td>
                                                                                                            <br>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    
                                                                                                    <tr>
                                                                                                        <td style="text-align:right" align="right" colspan="2">Subtotal:</td>
                                                                                                        <td align="right">Ksh {{email_order.cart_total|intcomma}}</td>
                                                                                                    </tr>
                                                                                                    
                                                                                                    <tr>
                                                                                                        <td align="right" colspan="2">Shipping:</td>
                                                                                                        <td align="right">0</td>
                                                                                                    </tr>
                            
                                                                                                    <tr>
                                                                                                        <td align="right" colspan="2"><h3><span style="font-weight:dark">Total:</span></h3></td>
                                                                                                        <td align="right"><h3><span style="font-weight:dark">Ksh {{email_order.cart_total|intcomma}}</span></h3></td>
                                                                                                    </tr>
                        
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                
                
                    
                                                                    <tr style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px;margin:0">
                                                                        <td style="text-align:center;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px;vertical-align:top;margin:0;padding:0" valign="top">
                                                                            ©  Powered by <a href="http://pombesigara.co.ke" target="blank">Pombe Sigara</a>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            
                            </tbody>
                        </table> 
        
                    </div>
                </div>
               
                <!-- end table -->
            </div>
        </div>
    </body>

</html>

