{% extends 'base.html' %}
{% load static %}
{% load humanize %}


{% block content %}

<!--faq area start-->
<div class="faq_content_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="faq_content_wrapper">
                    <h1>Pombe Sigara Policy Statement</h1>
                    <br>
                    <br>
                    <br>
                    <h5>Data Privacy & Collection of Information</h5>
                    <br>
                    <p>We collect your personal information with your knowledge and consent when you do any of the following (please note that this list is not exhaustive):
                        <br>
                        <br>
                        <p class="ml-3">•	Register for an account with Pombe Sigara.</p>
                        <br>
                        <p class="ml-3">•	Pay for products & services via FinTech or traditional bank services.</p>
                        <br>
                        <p class="ml-3">•	Subscribe to our premium rates services, short message service, email or social media platforms;</p>
                        <br>
                        <p class="ml-3">•	Ask us for more information about a product or service or contact us with a query or complaint;</p>
                        <br>
                        <p class="ml-3">•	Respond to or participate in a survey, marketing promotion, prize competition or special offer;</p>
                        <br>
                        <p class="ml-3">•	Visit, access or use our website or third-party social media websites & pages;</p>
                        <br>
                        <p class="ml-3">•	We may also collect your information from other organisations including credit-reference bureaus, fraud prevention agencies and business directories;</p>
                        <br>
                        <p class="ml-3">•	We may collect your information when you interact with us as a supplier, agent, merchant or dealer as prescribed in this statement;</p>
                        <br>
                        <p class="ml-3">•	We also collect information when you visit any of our premises.</p>
                    </p>

                    <br>
                    <br>
                    <h5>Age & Health</h5>
                    <p>
                        <br>
                        <p>•	Alcohol & Cigarettes will not be sold to persons under the age of 18..</p>
                        <br>
                        <p>•	Please do not share with anyone under the legal purchase age for alcohol.</p>
                        <br>
                        <p>•	Drink Responsibly.</p>
                        <br>
                        <p>•	Consumption of alcoholic beverages impairs your ability to drive a car or operate machinery, and may cause health problems.</p>
                        <br>
                        <p>•	Smoking Causes Lung Cancer, Heart Disease, Emphysema, and May Complicate Pregnancy.</p>
                        <br>
                        <p>•	If interested in learning more about responsible drinking, visit <a href="https://www.drinkiq.com/" target="blank"><strong>www.DRINKiQ.com</strong></a>.</p>
                        <br>
                    </p>


                    <br>
                    <br>
                    <h5>Other Relevant Policies</h5>
                    <br>
                    <p>•	Pombe Sigara is committed to the highest standards of corporate governance and business ethics. We have instituted systems to ensure that 
                        high standards of corporate governance are maintained at all levels of the organisation and is in compliance with relevant laws.
                    </p>
                    <br>
                    <p>•	We do not onboard minors (any person under 18 years of age). If you allow a minor to use our services, you should be aware that you may be 
                        held accountable and found liable of a criminal offence.
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}