{% extends 'base.html' %}
{% load static %}
{% load humanize %}


{% block content %}

    
    <!-- Single Product Main Area Start -->
    <div class="single-product-main-area">
        <div class="container container-default custom-area">
            <div class="row">
                <div class="col-lg-5 col-custom">
                    <div class="product-details-img horizontal-tab">
                        <div class="product-slider popup-gallery product-details_slider" data-slick-options='{
                    "slidesToShow": 1,
                    "arrows": false,
                    "fade": true,
                    "draggable": false,
                    "swipe": false,
                    "asNavFor": ".pd-slider-nav"
                    }'>
                            <div class="single-image border">
                                <a href="{{product.image.url}}">
                                    <img src="{{product.image.url}}" alt="Product">
                                </a>
                            </div>
                            
                        </div>
                        <div class="pd-slider-nav product-slider" data-slick-options='{
                    "slidesToShow": 4,
                    "asNavFor": ".product-details_slider",
                    "focusOnSelect": true,
                    "arrows" : false,
                    "spaceBetween": 30,
                    "vertical" : false
                    }' data-slick-responsive='[
                        {"breakpoint":1501, "settings": {"slidesToShow": 4}},
                        {"breakpoint":1200, "settings": {"slidesToShow": 4}},
                        {"breakpoint":992, "settings": {"slidesToShow": 4}},
                        {"breakpoint":575, "settings": {"slidesToShow": 3}}
                    ]'>
                            <div class="single-thumb border">
                                <img src="{{product.image.url}}" alt="Product Thumnail">
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-custom">
                    <div class="product-summery position-relative">
                        <div class="product-head mb-3">
                            <h2 class="product-title">{{product.name}}</h2>
                        </div>
                        <div class="price-box mb-2">
                            <span class="regular-price">Ksh {{product.new_price|intcomma}}</span>
                            <span class="old-price"><del>Ksh {{product.old_price|intcomma}}</del></span>
                        </div>
                        <div class="product-rating mb-3">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        
                        <div class="quantity-with_btn mb-4">
                            <div class="quantity">
                                <div class="cart-plus-minus">
                                    <input class="cart-plus-minus-box" value="1" type="text">
                                    <div class="dec qtybutton">-</div>
                                    <div class="inc qtybutton">+</div>
                                </div>
                            </div>
                            <div class="add-to_cart">
                                <button data-product="{{product.id}}" data-action="add" class="btn obrien-button primary-btn add-to-store">Add to cart</button>
                                <a class="btn obrien-button-2 treansparent-color pt-0 pb-0" href="#">Add to wishlist</a>
                            </div>
                        </div>
                        <div class="social-share mb-4">
                            <span>Share :</span>
                            <a href="#"><i class="fa fa-facebook-square facebook-color"></i></a>
                            <a href="#"><i class="fa fa-twitter-square twitter-color"></i></a>
                            <a href="#"><i class="fa fa-linkedin-square linkedin-color"></i></a>
                            <a href="#"><i class="fa fa-pinterest-square pinterest-color"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- Single Product Main Area End -->


    <!-- Product Area Start Here -->
    <div class="product-area mb-text">
        <div class="container container-default custom-area">
            <div class="row">
                <div class="col-lg-5 m-auto text-center col-custom">
                    <div class="section-content">
                        <h2 class="title-1 text-uppercase">Related Products</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 product-wrapper col-custom">
                    <div class="product-slider" data-slick-options='{
                    "slidesToShow": 4,
                    "slidesToScroll": 1,
                    "infinite": true,
                    "arrows": false,
                    "dots": false
                    }' data-slick-responsive='[
                    {"breakpoint": 1200, "settings": {
                    "slidesToShow": 3
                    }},
                    {"breakpoint": 992, "settings": {
                    "slidesToShow": 2
                    }},
                    {"breakpoint": 576, "settings": {
                    "slidesToShow": 1
                    }}
                    ]'>

                        {% for product in related_products %}
                        <div class="single-item">
                            <div class="single-product position-relative">
                                <div class="product-image">
                                    <a class="d-block" href="{% url 'product-view' product.slug %}">
                                        <img src="{{product.image.url}}" alt="" class="product-image-1 w-100">
                                        <img src="{{product.image.url}}" alt="" class="product-image-2 position-absolute w-100">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <div class="product-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <div class="product-title">
                                        <h4 class="title-2"> <a href="{% url 'product-view' product.slug %}">{{product.name}}</a></h4>
                                    </div>
                                    <div class="price-box">
                                        <span class="regular-price ">Ksh {{product.new_price|intcomma}}</span>
                                        <span class="old-price"><del>Ksh {{product.old_price|intcomma}}</del></span>
                                    </div>
                                </div>
                                <div class="add-action d-flex position-absolute">
                                    <a data-product="{{product.id}}" data-action="add" class="add-to-store" title="Add To cart">
                                        <i class="ion-bag"></i>
                                    </a>
                                    <a href="#" title="Add To Wishlist">
                                        <i class="ion-ios-heart-outline"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Product Area End Here -->




{% endblock %}