{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="authentication-bg d-flex align-items-center pb-0 vh-100">
    <div class="content-center w-100">
            <div class="container">
                <div class="card mo-mt-2">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-lg-12 ml-auto">
                                <div class="ex-page-content">
                                    <h2 class="text-dark display-8 mt-4">Password Reset Sent</h2>
                                    <p class="mt-4">We’ve emailed you instructions for setting your password, if an account exists with the email you entered.
                                        If you don’t receive an email, please make sure you have entered the email address you registered with, 
                                        and or check your spam folder.
                                    </p>
                                </div>
                    
                            </div>
                            <div class="col-lg-5 mx-auto">
                                <img src="{% static '/assets/images/login.jpg' %}" alt="" class="img-fluid mx-auto d-block">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end card -->
            </div>
            <!-- end container -->
    </div>

</div>

{% endblock %}