{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="authentication-bg d-flex align-items-center pb-0 vh-100">
    <div class="content-center w-100">
            <div class="container">
                <div class="card mo-mt-2">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-lg-12 ml-auto">

                                <div class="ex-page-content">
                                    <h2 class="text-dark display-8 mt-4">Password Reset Complete</h2>
                                    <!-- <h4 class="mb-4">Log In to continue</h4> -->
                                    <p class="mt-5">Your password has been set. You may go ahead and log in now.</p>
                                    <!-- <p class="mb-5">It will be as simple as Occidental in fact, it will be Occidental to an English person</p> -->
                                </div>
                                    
                                <div>
                                    <a class="btn obrien-button-2 primary-color mt-4" href="{% url 'login-view' %}">Log In</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- end card -->
            </div>
            <!-- end container -->
    </div>

</div>

{% endblock %}