{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="home-btn d-none d-sm-block">
    <a href="{% url 'home-shop-view' %}" target="_blank" class="text-dark"><i class="fas fa-home h2"></i></a>
</div>
<div class="account-pages my-5 pt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="login-register-wrapper">
                    <div class="section-content text-center mb-5">
                        <a href="{% url 'home-shop-view' %}" target="_blank" class="logo logo-admin">
                            <img class="" src="{% static '/assets/images/logo/logo-pombesigara.png' %}" height="50" alt="logo">
                        </a>
                        <h5 class="text-dark font-size-20 p-2 mt-4">Reset Password</h5>
                        
                    </div>

                    <div class="alert alert-success mt-5" role="alert">
                        Enter your Email and instructions will be sent to you!
                    </div>


                    <form class="form-horizontal mt-4" method="POST" action=".">

                        {% csrf_token %}

                        
                        <div class="single-input-item mb-3">
                            <label for="id_email">Email</label>
                            <input class="form-control" type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email">
                        </div>

                        <div>
                            <div class="single-input-item mb-3">
                                <button class="btn obrien-button-2 primary-color mt-4" type="submit">Reset Password</button>
                            </div>

                            <p>Remember It ? <a href="{% url 'login-view'%}" class="font-weight-medium text-primary"> Sign In here </a> </p>
                        </div>

                    </form>


                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}