{% extends "base2.html" %}
{% load static %}

{% block content %}

{% if messages %}
<script>
    {% for message in messages %}
        alert("{{ message }}");
    {% endfor %}
</script>
{% endif %}

<div class="home-btn d-none d-sm-block">
    <a href="{% url 'home-shop-view' %}" target="_blank" class="text-dark"><i class="fas fa-home h2"></i></a>
</div>
<div class="account-pages my-5 pt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="login-register-wrapper">

                    <div class="section-content text-center mb-5">
                        <h5 class="text-white font-size-20 p-2">Reset Password</h5>
                        <a href="{% url 'home-shop-view' %}" target="_blank" class="logo logo-admin">
                            <img src="{% static '/assets/images/logo/logo-pombesigara.png' %}" height="50" alt="logo">
                        </a>
                    </div>


                    <div class="alert alert-success mt-5" role="alert">
                        Enter new Password
                    </div>


                    <form class="form-horizontal mt-4" method="POST" action=".">

                        {% csrf_token %}

                        
                        <div class="single-input-item mb-3">
                            <label for="id_new_password1">Password</label>
                            <input class="form-control" type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
                        </div>

                        <div class="single-input-item mb-3">
                            <label for="id_new_password2">Confirm Password</label>
                            <input class="form-control" type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
                        </div>

                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ field.label }} : </strong><span>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}

                        <div>
                            <div class="single-input-item mb-3">
                                <button class="btn obrien-button-2 primary-color mt-4" type="submit">Change my password</button>
                            </div>
                        </div>

                    </form>

                </div>

                <div class="single-input-item mb-3">
                    <p>Remember It ? <a href="{%url 'login-view'%}" class="font-weight-medium text-primary"> Sign In here </a> </p>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}