{% extends 'base.html' %}
{% load static %}
{% load humanize %}


{% block content %}



    <div class="row">
        <div class="col-12 text-center">
            <div class="breadcrumb-content position-relative section-content">
                <h3 class="title-3">Register</h3>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li>Register</li>
                </ul>
            </div>
        </div>
    </div>


    <!-- Login Area Start Here -->
    <div class="login-register-area mt-no-text mb-no-text">
        <div class="container container-default-2 custom-area">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-custom">
                    <div class="login-register-wrapper">
                        <div class="section-content text-center mb-5">
                            <h2 class="title-4 mb-2">Create Account</h2>
                            <p class="desc-content">Please Register using account detail bellow.</p>
                        </div>
                        <form action="." method="POST">
                            {% csrf_token %}

                            <div class="single-input-item mb-3">
                                <label for="username">Username</label>
                                {{form.username}}
                            </div>
                            <div class="single-input-item mb-3">
                                <label for="first_name">First Name</label>
                                {{form.first_name}}
                            </div>
                            <div class="single-input-item mb-3">
                                <label for="lasst_name">Last Name</label>
                                {{form.last_name}}
                            </div>
                            <div class="single-input-item mb-3">
                                <label for="email">Email</label>
                                {{form.email}}
                            </div>
                            <div class="single-input-item mb-3">
                                <label for="phone_number">Phone Number</label>
                                {{form2.phone_number}}
                            </div>
                            <div class="single-input-item mb-3">
                                <label for="password1">Password</label>
                                {{form.password1}}
                            </div>
                            <div class="single-input-item mb-3">
                                <label for="password2">Confirm Password</label>
                                {{form.password2}}
                            </div>
                            
                            <div class="single-input-item mb-3">
                                <button class="btn obrien-button-2 primary-color" type="submit">Register</button>
                            </div>

                            <div class="single-input-item mb-3">
                                <a href="{% url 'login-view' %}" class="forget-pwd mb-3">Have an account? Log in</a>
                            </div>

                            {% if form.errors %}
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ field.label }} : </strong><span>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Login Area End Here -->



{% endblock %}